html {
    background-color: #4d2600
}

body {
    margin: 0;
    background-image: url(Img/pergaminho.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin: auto;
    text-align: center;
    padding-top: 15vw;
    padding-bottom: 5vw;
    font-weight: bold;
    font-size: large;
}

ul {
    list-style: none;
    padding: 0%;
}

.ParagBio {
    width: 50%;
    margin: auto;

}

a:hover {
    color: aliceblue;
}

a {
    color: gray;
    text-decoration: none;
}